[Desktop Entry]
Type=Application
Version=1.0
Name=Ascii Design
GenericName=A tool to create ascii arts
GenericName[it]=Uno strumento per creare ascii art
Comment=A tool to create ascii arts
Comment[it]=Uno strumento per creare ascii art
Exec=ascii-design
Icon=ascii-design
Terminal=false
Type=Application
Categories=Qt;KDE;Office;
