[Desktop Entry]
Name=Ascii Design
Comment=A tool to create ascii arts
Comment[it]=Uno strumento per creare ascii art
Exec=ascii-design
Icon=ascii-design
Terminal=false
Type=Application
Categories=Office;
