[Desktop Entry]
Encoding=UTF-8
Name=Ascii Design
Comment=Start Ascii Design
Exec=ascii-design
Icon=ascii-design.png
Terminal=false
Type=Application
Categories=Office;
